/* .bgdColor {
	background-color: #9fd152;
	color: #fff;
} */
.logohide {
	display: none;
}
.hovers {
	background-color: #26569b;
}
.hovers >p {
	color: #fff;
}
.hover-li {
	background-color: #666;
	color: #fff;
}
.flex-box {
	display: flex;
	justify-content: space-between;
}

.content .content-img {
	width: 100%;
	height: 420px;
	margin-bottom: 50px;
}
.content .content-det {
	border-top: 1px solid #ddd;
	margin-top: 20px;
	padding-bottom: 400px;
}
.content .content-det .tag-list {
	display: flex;
	box-shadow: 0 0 15px #ddd;
	margin: 60px 0;
}
.content-det .tag-list .tag-li {
	padding: 40px;
	width: 30%;
	box-sizing: border-box;
	color: #666;
	cursor:pointer
}
.content-det .tag-list .tag-li .tag-logo,
.content-det .tag-list .tag-li .t-logo {
	width: 45px;
	margin-bottom: 20px;
}
.content-det .tag-list .tag-li .tag-txt {
	width: 195px;
	padding-top: 28px;
	line-height: 1.8;
}
.content .content-det .content-tt {
	color: #26569b;
	margin-bottom: 80px;
	width: 190px;
	border-bottom: 1px solid #26569b;
	padding-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	cursor:pointer
}
.content .content-det .content-tt >span {
	padding-right: 8px;
}
.content-det .content-tt .content-ct {
	padding-top: 20px;
}
.tag-b-list {
	overflow: hidden;
}
.tag-b-list .b-list-li {
	margin-bottom: 40px;
	margin-right: 43px;
	position: relative;
}
.tag-b-list .b-list-li .name {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	width: 86%;
	text-align: center;
/* 	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); */
}
.tag-b-list .b-list-li .back-img {
	width: 100%;
	height: 100%;
}

.business-list {
	margin-top: 125px;
}